/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;	
	/* 1rem = 16px */
	/* neu khong thiet lap gia tri default 1 rem = 16px */

	scroll-behavior:smooth ;
	/* cái này giúp thanh trượt trở nên mượt mà hơn */
	
}

body {
	font-family: 'Montserrat', sans-serif;
	;
	color: #212529;
	background-color: white;
	letter-spacing: 1px;
}

button {
	/* button thi goi ten truc tiep khong can thong qua class */

	background-color: #ff0e83;
	color: white;
	padding: 13px 32px;
	font-size: 0.875rem;

	border-radius: 7px;
	border: solid white 2px;

	letter-spacing: 2px;

	cursor: pointer;
	/* luu ý */

	transition: all 0.5s;
	transition-timing-function: ease-in;
	/* transition nen de o phan button de hieu ung ket thuc duoc keo dai hon khi dat o phan hover */
}

button:hover {
	/* button không cần gọi class */
	color: black;
	background-color: white;
	border-color: #ff0e83;

}

h2 {
	font-size: 3rem;
	font-family: 700;
	margin-bottom: 3rem;
	text-align: center;
	letter-spacing: 2px;

}

/* Tren day la nhung thong bao quan trong nhat cua 1 trang web */

/* HEADER */

header{
	background-color: #4e2384;
	padding: 20px 0;

	position:fixed;
	z-index: 99999999;
	/* khi mà set up position bị đè thì có thể sử dụng thuộc tính z-index:  để đè lên */
	width: 100%;
}

.header_content {
	margin: 0 auto;
	width: 70%;

	display: flex;
	/* thuoc tinh moi */
	align-items: center;

	/* thuoc tinh moi */
	justify-content: space-around;
	/* display, align-items, justify-content: là ba thuộc tính đi chung với nhau  */
}

.header_content ul {
	list-style: none;
}

.header_content a {
	text-decoration: none;
	font-weight: 700;
	color: white;

	font-size: 0.75rem;
	letter-spacing: 2px;
	/* chu y */
	/* property, duration, delay, timing-function */
	transition: all 0.5s;
	/* nen de la 0.5s */
	/* nen de hieu ung transition tai a */
	/* thuoc tinh chu y */
}


.header_content a:hover {
	/* can than syntax */
	color: #ff0e83;

	/* khong duoc de trasition tai hover */
}


/* .header_content li:first-child a {
	color: #ff0e83;
} */
.active a {
	/* lưu ý sử dụng active */
	color: #ff0e83;
}

.header_content p,
.header_content nav {
	display: inline;
}

.header_content li {
	display: inline;
	/* diplay dùng cho các thẻ con */

	margin: 0 1rem;

	/* chu y sử dụng margin hay padding đêu được*/
}

.header_content p {

	color: white;
	font-size: 37px;
	/* 1rem = 16px */
	font-size: 2.3rem;
	font-weight: bold;

}

/* CAROUSEL */


.carousel {
	background-image: url(../img/b3.jpg);
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* them vao de background vao chinh giua cho no dep */
	position: relative;
	color: white;
	text-align: center;
	/* text-align co the su dung luon cho ca button */

	/* su dung cach dan moi */
	/* chi co the canh giua neu the cha co 1 the con truc tiep, neu co 2 the con truc tiep thi no se tu dong dan hang ngang */
	display: flex;
	justify-content: center;
	/* justify-content: dan theo hang ngang */
	align-items: center;
	/* align-items: dan theo hang doc */
}

/* 
.carousel_content {
	align-items: center;
	position: absolute;
	left: 35rem;
	top: 15.62rem;
	cach dan nay da xua roi
} */

/* .carousel_content p,
h1 {
	color: white;
} */
/* co the set o caroursel, vi no ke thua */

.carousel_content h1 {
	font-size: 3.5rem;

}

.carousel_content p {
	font-size: 1.1rem;
	padding: 20px 0;

}

.carousel button:hover{
	animation: upDown 1s linear 0s infinite;
	/* thuộc tính mới */
}

/* INTRO */

.intro {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-columns: 25% 25% 25% 25%; */
	/* luu y fr */
	/* co the khai bao chi tiet grid-template-columns: 25% 25% 25% 25%; */
}

.intro_ab1 {
	grid-column: 2/4;
	/* grid-column: 2/ span 2; */
	/* line bat dau va line ket thuc */
	/* 2 cach viet khau nhau */

}

.intro_bake {

	/* grid-column: 1/3; */
	grid-column: 1/ span 2;

}

.intro_ab4 {
	grid-column: 3/ span 2;
}

.intro_item img {
	width: 100%;
	/* chinh hinh anh duoc 100% */
	display: block;
	/* khai bao block se khong con khoang ho nua */
}

.intro_item {
	display: flex;
	justify-content: center;
	/* justify-content: khong co tac dung trong truon hop nay boi vi padding = padding the cha truc tiep; */
	align-content: center;
	align-items: center;
	/* align-items chu khong phai align center */
	text-align: center;

}

.intro_text {
	padding: 32px;
}

.intro_item h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: white;
}

.intro_item p {
	color: #c1c1c1;
	line-height: 29px;
}

.intro .intro_item:first-child,
.intro .intro_item:nth-child(8) {
	/* can than syntax */
	background-color: #4e2384;


}

.intro .intro_item:nth-child(3) {
	background-color: #ff0e83;
}

.intro .intro_item:nth-child(4) {

	background-color: #ed6498;

}

.intro .intro_item:nth-child(6) {

	background-color: #836eaa;

}


/* NUMBER */
.number {
	padding: 70px;
}

.number_content {
	width: 70%;
	;
	margin: 0 auto;

	display: flex;
	justify-content: space-around;

	text-align: center;
}

.number_item p {

	letter-spacing: 2px;
}

.number_item p:first-of-type {
	/* p:first-of-types luu y cai nay */
	color: #4e2384;
	padding: 10px 0;
	font-size: 2rem;
	font-weight: 600;


}

.number_item p:last-of-type {
	font-weight: 700;
	font-size: 1.4rem;
}

/* SERVICE */


.service {

	background-image: url(../img/ab1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* set cái này thì không cần set witdh */

	text-align: center;
	/* set thuộc tính text-align để thuộc tính con kế thừa luôn, icon cũng sẽ bị ảnh hưởng */
	padding-bottom: 70px;

}

.service_content {
	width: 70%;
	margin: 0 auto;

	display: flex;
}

.service h2 {
	color: white;
	padding: 70px 0;
}

.service_item {
	padding: 0 20px;

}

.service_item i {
	/*bản chất của các icon giống như là chữ */
	width: 105px;
	height: 105px;
	border: 1px solid #4e2384;

	background-color: white;
	color: #4e2384;
	font-size: 3.75rem;

	line-height: 105px;
	/* phương pháp canh giữa icon, sử dụng line min-height., cho bằng chiều cao của đường tròn (hình vuông) */

	transition: all 0.5s;
	/* cài đặt transition ở đấy */
}

.service_item h3 {
	font-weight: 500;
	/* Rất mỏng: 300, vừa phải 400-450 hơi đậm 500-600 rất đậm 700 */
	font-size: 1.5rem;
	margin: 17px 0;
}

.service_item p {
	line-height: 20px;
	font-size: 0.875rem;
	padding-bottom: 12px;
}

.service_item button {
	padding: 12px 27px;
	border-width: 2px;
}

.service_item:hover i {
	color: #ff0e83;
	/* lưu ý: color là vùng cần hover, i là selector sẽ được biến đổi */
	/* công cụ trình duyệt firefox sẽ hỗ trợ phần hover được đặt vào trong vị trí cha nào */
}

/* OUR GALLERY */
.gallery {
	padding: 20px 0;
}

.gallery_item img {

	width: 100%;
	height: 100%;
	/* set hình vừa với div */
	/* bắt buộc set cả chiều ngang và chiều cao */
	display: block;
	/* set hình không có kẽ hở */
}

/*Mẹo: thiết lập hình ảnh trước rồi chữ tính sau */


.gallery_content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* chú ý hai attribute này */
	gap: 30px;
	/* gap luôn đi chung với thộc tính grid-template */
	/* grid-gap không hỗ trợ trên nhiều trìn duyệt nên không được ưu ái -> bị gạch ngang*/
	/* khác margin ở chỗ khoảng cách với thẻ cha trực tiếp sẽ được set = 0. Chỉ tạo khoảng cách giữa các thành phần nội bộ ngang cấp */

	padding: 0 12px;
	/*set khoảng hở giữa thành phần với trang chính, thì set ở div ngoài cùng */
}

.gallery_g1 {
	grid-column: 1/3;

}

.gallery_g6 {
	/* nếu gọi thẻ con bằng first-child không hiệu quả thì có thể đổi qua đặt tên class để chính xác hơn */
	grid-column: 3/5;
}

.gallery_item {
	position: relative;
	overflow: hidden;

	/* Lưu ý: attribute mới, cài đặt ở thẻ cha tác dụng: ẩn đi tất cả phần nằm ngoài thẻ cha. ngoài ra cũng giải quyết được các vấn đề của thanh trượt ngang */
}

.gallery_overlay {
	/* lưu ý đặt tên */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(48, 132, 163, 0.2);
	color: white;

	padding: 38px 28px;
	text-align: right;
	/* canh phải chữ */
}

/* bắt đầu hiệu ứng */
.gallery_overlay p {
	/* vì lí do code đọc từ trên xuống dưới nên set thằng biến ở trên thằng hiện ở dưới */
	position: absolute;
	right: 38px;
	bottom: 28px;
	/* sử dụng lại lớp cha bên ngoài làm position */
	font-size: 0.75rem;
	transform: translateY(50px);
	/* opacity:0; */
	/*Mẹo: cái nào mất thì sẽ set 0, cái nào nào hiện thì set 1 */
	transition: all .5s;
	color: black;

}

.gallery_item:hover .gallery_overlay p {
	transform: translateY(0);
	opacity: 1;
}

/* kết thúc hiệu ứng */


.gallery_overlay span {
	font-weight: 300;
}

/*tạo hiệu ứng hình ảnh hover thì bắt buộc phải tạo bằng css  */

/* .gallery_overlay h3::before {
	content: "hehe" ;
	được sử dụng để tạo đường thẳng dưới ourgallery

} */


/* bắt đầu hiệu ứng  */
.gallery_overlay h3 {
	font-size: 1.875rem;

	transform: translateY(20px);
	/* Lưu ý thuộc tính mới */
	transition: all 0.5s;
}

.gallery_item:hover .gallery_overlay h3 {
	transform: translateY(0);
}

/* kết thúc hiệu ứng */

/* bắt đầu hiệu ứng */
.gallery_overlay h3::after {
	content: " ";
	/* cân thận dâu chấm phẩy */
	height: 5px;

	width: 100%;

	display: block;
	background-color: white;
	/* Lưu ý: không set được kích thước cho thẻ inline */
	margin-top: 10px;
	/* margin top sẽ khiến cho khi hover thì sẽ bị thụt lại khoảng cách gần hơn so với chữ our gallery */

	transform: translateY(20px);
	transition: all .5s;
	/* thời gian hiệu ứng hình ảnh */

	opacity: 0;

}

.gallery_item:hover .gallery_overlay h3::after {
	/* lưu ý về syntax */

	/* ta có thể hover ở lớp cha bất kì nào */
	transform: translateY(0px);

	/* transition chỉ có tác dụng với những con số tồn tại, nếu set display: none ỏ block thì hiệu ứng chạy sẽ không còn mượt mà nữa */
	opacity: 1;
	/* set up ân hiện thì dùn oapcity */
}

/* kết thúc hiệu ứng */

/* BAKE TEAM */

.team {
	background-color: #4e2384;
	padding-bottom: 50px;

}

.team h2 {
	text-align: center;
	color: white;
	padding-top: 80px;

}

.bake_team_content {
	width: 70%;
	margin: 0 auto;


	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 28px;

}

/* set vi tri */
.bake_team_item {
	position: relative;
	overflow: hidden;
	/* để cho vui mặc dù không cần overflow trong trường hợp này */
}



.bake_team_content .bake_team_item img {
	width: 100%;
	display: block;

}

.bake_team_title p {
	font-size: 0.874rem;
	line-height: 28px;
}



.team_detail h3 {
	color: #ff0e83;
}

.team_text {
	margin: 8px 0;

}

.team_social {
	margin-top: 24px;
}

.team_social i {
	height: 37px;
	width: 37px;
	border: 1.5px solid rgba(255, 255, 255, 0.5);

	text-align: center;
	/* canh giữa chiều ngang */
	line-height: 37px;
	/* Kỹ thuật: đê canh icon ở giữa chiều dọc thì sử dụng line height =< chiều cao và chiều rộng của hình vuông */
}

/* bat đầu hiệu ứng */
/* Kỹ thuật cài đặt hiệu ứng: bước 1: set giá trị ban đầu. bước 2: thiết lập đơn vị cần hover và giá trị hover. */
/* 1. lúc ban đầu */

.bake_team_item .bake_team_title {
	position: absolute;
	bottom: 0px;
	left: 0;
	color: white;
	background-color: #ff0e829a;
	width: 100%;
	padding: 13px;

	opacity: 1;
	transition: all .5s;
	/* thêm padding thì chữ sẽ thụt vào liền */

}

.team_detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;

	padding: 100px 40px;

	opacity: 0;
	transition: all 0.5s;
	/* opacity và transaction luôn đi chung với nhau */

}

/* 2. lúc sau */
.bake_team_item:hover .bake_team_title {
	opacity: 0;
}

.bake_team_item:hover .team_detail {
	opacity: 1;
}


/* kết thúc hiệu ứng */

/* FEEDBACK */
/* hiệu ứng đã được thêm từ phía thư viện rồi */

.feedback {
	background-image: url(../img/cc1.jpg);
	background-size: cover;
	padding: 70px 0;
}

.feedback h2 {
	color: white;

}

.feedback_content {
	width: 70%;
	margin: 0 auto;
	border: solid 3px #ff0e83;
	background-color: rgba(255, 255, 255, 0.561);
	text-align: center;
	padding: 32px;
}

.feedback_content i {
	color: #2cbeff;
	font-size: 1.3rem;
	padding: 0 18px;
}

.feedback_content p {
	line-height: 30px;
	letter-spacing: 1.3px;
}

.feedback_content .feedback_name {
	font-size: ;
	font-weight: ;
	color: white;
}

/* set button */
.feedback_content .owl-theme .owl-dots .owl-dot span {
	background-color: rgba(0, 0, 0, 0.519);
	/* bởi vì nó là nút nên chỉ sử dụng được background-color */
}

.feedback_content .owl-theme .owl-dots .owl-dot.active span {
	background-color: black;
	/* sử dụng active ngay vị trí bên trên */
}

.feedback_content .owl-theme .owl-dots .owl-dot span {
	outline: none;
	/* phòng trường hợp nó tự thêm cái ô vuông ở ngoài button */
}

/* end set button */

/* CONTACT */
.contact {
	padding: 70px 0;

}

.contact_form form {
	width: 70%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 30px 15px;


}

.contact_form textarea,
.contact_form button {
	/* lưu ý cách sử dung selector rất cẩn thận */
	grid-column: 1/3;
	padding: 15px;
	font-size: 1rem;
	font-weight: 600;

}

.contact_form input {
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 600;

	transition: all 0.5s;
	/* thêm cái này vào không lông để khiến mọi thứ chuyển động mượt mà hơn, không nhất thiết khi chỉnh hover mới dùng transition */

}

.contact_form input:focus {
	outline: none;
	/* cẩn thận giá trị này, trình duyệt tự thêm, nên lúc ta code ta cần chỉnh sửa lại về none */

	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
	/* box-shadow là thuộc tính mới trong CSS3 */

}

.contact_form textarea {
	border: 1px black solid;
	resize: none;
	/* ngăn không cho người dùng có thể réize */

}

.contact_form textarea:focus {
	outline: none;
}

.contact_form textarea::placeholder {
	/* lưu ý cách gọi placeholder */
	color: black;


}


.contact_form button {
	border-radius: 0;
	color: black;
}

.contact_form button:hover {
	background-color: black;
	color: white;
	border-color: black;

}

/* map */
.contact_map iframe {
	width: 100%;
	margin-top: 50px;

}

/* info_contact */
.contact_info {
	width: 70%;
	margin: 50px auto;
	display: flex;
	justify-content: space-around;
	text-align: center;


}

.contact_item i {

	font-size: 3rem;
	color: #4e2384;
	padding-bottom: 20px;

}

.contact_info .contact_item {
	padding: 20px;
}

/* end_infocontact */

/* FOOTER */
footer {
	padding: 50px 0;
	background-color: black;
	color: white;
}

.footer_main {
	width: 70%;
	margin: 0 auto;
	display: flex;
	/* justify-content: space-around; */

}

.footer_items {
	width: 25%;
	padding: 0 25px;


}


.footer_copyright {
	text-align: center;
}

/* BACK TO TOP */

/* bắt đàu set up nút, nút ẩn đi */
.backToTop {
	position: fixed;
	/* dể nút back đi theo trang */

	right: 50px;
	bottom: 50px;

	/* 2 thuộc tính phí dưới thì xem code của người khác rồi tự chỉnh sửa và thêm vào */
	visibility: hidden;
	/* thuộc tính visi không cho người dùng có thể tab vào nút được */
	opacity: 0;
}

/* nút hiện ra */
.cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}
/* kết thúc set up nút */

.backToTop i {
	color: #0bbbcc;
	border: 2px solid #0bbbcc;
	width: 40px;
	height: 40px;
	font-size: 2rem;
	text-align: center;
	line-height: 36px;

	border-radius: 50%;
}

/* một số chuyển động khác */

@keyframes upDown{
	0%{}
	50%{ transform: translateY(-20px);
	}
	100%{ transform: translateY(0);
	}
/* cách set up khác */
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(20px1);
	}
}





